#yozS2{
    font-family: "Poppins",sans-serif;
    color: #222;
    line-height: 1.2em !important;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 36px;
    text-align: center;
}
#yozS3{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    text-align: center !important;
    margin-bottom: 16px;
    letter-spacing: 1px;
}